<h1><%= current_user.fname %>'s Favorite Recipes</h1>
<div align="center">
<table>
  <thead>
    <tr>
      
      <th>Recipe Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<tbody>
    <% @users_has_recipes.each do |users_has_recipe| %>
      <tr>
        <td><%= users_has_recipe.recipe.name %></td>
        <td><%= link_to 'Show', users_has_recipe %></td>
        <td><%= link_to 'Edit', edit_users_has_recipe_path(users_has_recipe) %></td>
        <td><%= link_to 'Destroy', users_has_recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Users Has Recipe', new_users_has_recipe_path %>
