<h1>Recipes</h1>

<div class="ing-container">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Video URL</th>
      <th>Preptime</th>
      <th>Cooktime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.description %></td>
        <td><iframe width="350" height="200" src="<%= recipe.videourl %>" frameborder="0" allowfullscreen></iframe></td>
        <td><%= recipe.preptime %></td>
        <td><%= recipe.cooktime %></td>
        <td><%= link_to 'View Recipe', recipe %></td>
        <%#<td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <%#<td><%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>

<%= link_to 'New Recipe', new_recipe_path %>
