<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <% if user_signed_in? %>

<h1>Recipes</h1>

<div class="resblock">

<div class="search">

    <%= search_form_for @q do |f| %>
    <table class="tabs">
      <tr>
        <td><%= f.label :name_cont, "Search For Recipes" %></td>
      </tr>
    <tr>
    <td><%= f.search_field :name_cont %></td>
    </tr>
    <tr>
      <td>
        <br>
      </td>
    </tr>
    <tr>
    <td>
   <%= f.submit "Search" %></td>
   </tr>
   </table>
 <% end %>
<hr/>
</div>


    <% @recipe.each do |recipe| %>
    
    <table>
    <tr>
      <th><%= recipe.name %></th>
    </tr>
    <tr>
      <th>Description: <%= recipe.description %></th>
    </tr>
      <tr>
        <td><iframe  src="<%= recipe.videourl %>" frameborder="0" allowfullscreen></iframe></td>
      </tr>

      <tr>
        <th><%= button_to 'View Recipe', recipe, {:method => :get} %></th>
      </tr>

      <tr>
       <th>Prep Time: <%= recipe.preptime %></th>
       </tr>
       <tr>
        
      <th>Cook Time: <%= recipe.cooktime %></th>
        
      </tr>
    </table>
    <br>
    <% end %>


</div>

<br>
<% end %>


</body>
</html>

