<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @recipe.image %>
</p>

<p>
  <strong>Videourl:</strong>
  <%= @recipe.videourl %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>

<p>
  <strong>Preptime:</strong>
  <%= @recipe.preptime %>
</p>

<p>
  <strong>Cooktime:</strong>
  <%= @recipe.cooktime %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
