<%= form_for[@ingredients, @users_has_ingredient] do |f| %>


  <div class="field">
    <%= f.label :current_user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :ingredient_id %>
    <%= f.text_field :ingredient_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
