<doctype! html5>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
 
    
</head>
<body>


<button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Sign Up</button>

<div id="id02" class="modal">
  
  <div class="modal-content animate" >
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
      <h3>Sign up, it's free!</h3>
    </div>



 <div class="login2">
            

<%= form_for(resource, as: resource_name, :html=> {:class=>'large-12 medium-12 columns'}, url: registration_path(resource_name)) do |f| %>  

<br>

    <div class="field">

    <%= devise_error_messages! %>
    <%= f.label :"First Name" %><br/>
    <%= f.text_field :fname, autofocus: "true" %><br/>
    <%= f.label :"Last Name" %><br/>
    <%= f.text_field :lname %><br/>
  </div>
                  
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
                  
<br/>
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
<% end %>
    <%= f.password_field :password, autocomplete: "off" %>
<br/>
<%= f.label :"Confirm Password" %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
                    
 <br/>
 <br/>

    <%= f.submit "Sign up", :class=>'button expanded' %>
                    
</div>

<% end %>

                
      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
  </div>
</div>

<script>
// Get the modal
var modal = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
                
            </div>
        </div>
        </div>
        </div>
</div>


</body>
</html>
