<%= form_for(ingredient) do |f| %>
  <% if ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :IngredientName %>
    <%= f.text_field :IngredientName %>
  </div>

  <div class="field">
    <%= f.label :IngredientDescription %>
    <%= f.text_field :IngredientDescription %>
  </div>

  <div class="field">
    <%= f.label :IngredientImage %>
    <%= f.text_field :IngredientImage %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
