<!Doctype HTML>
<HTML>
<header>



</header>
<body>
  <% if user_signed_in? %>

 
  <div class="ingblock">
<div class="search">

<h1>Ingredients</h1>

    <%= search_form_for @q do |f| %>
    <table class="tabs">
      <tr>
        <td><%= f.label :name_cont, "Search For Ingredients" %></td>
      </tr>
    <tr>
    <td><%= f.search_field :name_cont %></td>
    </tr>
    <tr>
      <td>
        <br>
      </td>
    </tr>
    <tr>
    <td>
   <%= f.submit "Search" %></td>
   </tr>
   </table>
 <% end %>
<hr/>
</div>

    <% @ingredient.each do |ingredient| %>
    <table class="serIng">

    <tr>
      <th><%= ingredient.name %></th>
    </tr>

      <tr>
        <td>Description: <%= ingredient.description %></td>
        
  <tr>
     <th><%= image_tag(ingredient.image, :width => '80', :height =>'80' )  unless ingredient.image.blank? %></th> 
  </tr>


  <tr>
    <td><%= button_to 'Add', {:controller => "users_has_ingredients", :action => "create", :ingredient_id => ingredient.id} , {:method => :post}  %></td>
  </tr>
      <tr>
        <td><br></td>
      </tr>
      <tr>
        <td><%= button_to 'Show', ingredient, {:method => :post} %></td>
      </tr>
   <br>
    <% end %>


</table>
<br>

<% end %>






</div>
</div>
</div>
</body>
</HTML>