<%= form_for(users_has_ingredient) do |f| %>
  <% if users_has_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(users_has_ingredient.errors.count, "error") %> prohibited this users_has_ingredient from being saved:</h2>

      <ul>
      <% users_has_ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :users_id %>
    <%= f.text_field :users_id %>
  </div>

  <div class="field">
    <%= f.label :ingredients_id %>
    <%= f.text_field :ingredients_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
