<p id="notice"><%= notice %></p>

<h1>Users Has Ingredients</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Ingredient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_has_ingredients.each do |users_has_ingredient| %>
      <tr>
        <td><%= users_has_ingredient.user %></td>
        <td><%= users_has_ingredient.ingredient %></td>
        <td><%= link_to 'Show', users_has_ingredient %></td>
        <td><%= link_to 'Edit', edit_users_has_ingredient_path(users_has_ingredient) %></td>
        <td><%= link_to 'Destroy', users_has_ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users Has Ingredient', new_users_has_ingredient_path %>
