<!Doctype HTML>
<HTML>
<header>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</header>
<body>

<h1><%= current_user.fname %>'s Ingredients</h1>

<div class="ingblock">
<div class="ing-container">
<b>Choose from ingredients below to find matching recipes!</b>
<table>
  <thead>
    <tr>
      <%#<th>Ingredient</th>#%>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>

  </div>
<form >
    <% @users_has_ingredients.each do |users_has_ingredient| %>
      <tr>
        <td><%= users_has_ingredient.ingredient.name %></td>
        <td><%= image_tag(users_has_ingredient.ingredient.image, :width => '80', :height =>'80' ) %></td>
        
        <td><%= check_box_tag 'ing_id[]', users_has_ingredient.ingredient_id, false,  {:class =>
"someclass"} -%></td>
        
        <td><%= link_to 'Details', users_has_ingredient %></td>
        <td><%= link_to 'Delete', users_has_ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <table>
        <%= submit_tag "Generate Recipe(s)" %>
  <thead>
  </form> 
    <tr>
      <th> <%= render "shared/gen" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

<hr>
<h1>Results</h1>
</div>
  </table>
 
</div>
</div>
</div>
</body>
</HTML>