<h1><%= current_user.fname %>'s Ingredients</h1>
<div class="ingblock">
<div class="ing-container">
<table>
  <thead>
    <tr>
      <%#<th>Ingredient</th>#%>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    
    <%= link_to 'Add a New Ingredient', new_users_has_ingredient_path %>
    <br>
  </div>
    <% @users_has_ingredients.each do |users_has_ingredient| %>
      <tr>
        <td><%= users_has_ingredient.ingredient.name %></td>
        <td><%= image_tag(users_has_ingredient.ingredient.image, :width => '80', :height =>'80' ) %></td>
        <td><%= link_to 'Details', users_has_ingredient %></td>
        <td><%= link_to 'Edit', edit_users_has_ingredient_path(users_has_ingredient) %></td>
        <td><%= link_to 'Delete', users_has_ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
