<!Doctype HTML>
<HTML>
<header>
<script type="text/javascript">
$(function () {
    $("#selectall").click(function () {
        $('.someclass').prop('checked', this.checked);
    });

    $(".someclass").click(function () {
        if ($(".someclass").length == $(".someclass:checked").length) {
            $("#selectall").prop("checked", "checked");
        } else {
            $("#selectall").removeProp("checked");
        }
    });
});
</script>


</header>
 <%= image_tag("Av/Avatar.png", width: '200px') %>

<h1>Hello, <%= current_user.fname %>! You're our favorite customer!</h1>

<div class="ing-container" >

<!--Super table start   -->  


<table> 
<tr>
  <th>
    <div class="ing-container1" >
<h4><b>Choose from ingredients below to find matching recipes!</b></h4>


<table>
  <tbody>

<h5><input type = "checkbox" id="selectall" class="someclass">    Select All</a></h5>

<form >
    <% @users_has_ingredients.each do |users_has_ingredient| %>
      <tr>
        <td><%= users_has_ingredient.ingredient.name %></td>
        <td><table><tr><td><%= image_tag(users_has_ingredient.ingredient.image, :width => '80', :height =>'80' ) %></td></tr><tr><td><%= link_to 'Delete', users_has_ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td></tr></table></td>

        <td><%= check_box_tag 'ing_id[]', users_has_ingredient.ingredient_id, false,  {:class =>
"someclass"} -%></td>
        
        
        <td>Select</td>
      </tr>
    <% end %>

 <%= submit_tag "Generate Recipe(s)" %>

  </form>
  </div>
  </tbody>
</table>
</th>

<th>
    <%= render "shared/gen" %>
 </th>
 
 <th>
<!-- video table start   -->   
    <table>
      <thead>

    </thead>
        <tr>
      <td><%= render "shared/favs" %></td>
    </tr>
    <thead>
    <tr>
      <th><h2>Most Popular Recipes</h2></th>
    </tr>
    </thead>
        <tr>
      <td><%= render "shared/top_five" %></td>
    </tr>
     <thead>
    <tr>
      <th><h2>Quik Recipes</h2></th>
    </tr>
    </thead>
    <tr>
    
      <td><%= render "shared/quik_recipe" %></td>
    </tr>
</table>
<!-- table end  --> 

</th>
</tr>
</table> 
</div>
</body>
</HTML>