

            <div class="logo2">
                
            </div>
            <div class="login">

                <div class="login-container">
                <%= form_for(resource, as: resource_name, :html=>{:class=>'large-12 medium-12 columns'}, url: session_path(resource_name)) do |f| %>  

                    

                  <h4 class="text-center">Login</h4>

                      
                  <%= f.label :email %>
                  <%= f.email_field :email, autofocus: true %>
  <br>
                  <%= f.label :password %>
                  <%= f.password_field :password, autocomplete: "off" %>
<br><br>

                  <%= f.submit "Submit"  %>
                <%= render "devise/shared/links" %>
                  <% if devise_mapping.rememberable? -%>
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  <% end -%>
                  
                    </div>

                <% end %>
                


<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
                
            </div>
        </div>
        </div>
        </div>
</div>


</body>
</html>
