

<div class="qb">
    
<h1>Meet the QuikByte Team!</h1>

<div class="row">
  <div class="col-md-6"><%= image_tag("Av/darR.png", width: '250px') %></div>
  <div class="col-md-6"><%= image_tag("Av/mehR.png", width: '250px') %></div>
</div>

<div class="row">
  <div class="col-md-6"><h1>Darren Ellis</h1></div>
  <div class="col-md-6"><h1>Luis Menchaca</h1></div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-6"><%= image_tag("Av/asu.jpg", width: '750px')%></div>
  <div class="col-md-6">
      <h1>Bachelors in Information technology</h1>
      <br>
      <h3>We are both going for a degree focused on Cloud Computing and Networking.</h3>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">
    <div class="col-md-6">
      <h1>What brought the team together?</h1>
      <br>
      <h3>We are both into health and fitness. And of course trying to eat right is a huge part of that.</h3>
    </div>
  <div class="col-md-6"><%= image_tag("Av/haf.jpg", width: '750px')%></div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-6"><%= image_tag("Av/process.png", width: '750px')%></div>
  <div class="col-md-6">
      <h1>What roles did each member play in the creation of the web app?</h1>
      <br>
      <h3>Darren mostly took care of the databse side of things. He handled table creation, data insertion, and queries. 
      Luis handled the server side along with the frong end of the app, from ruby to css.
      Although both member were eager to learn all the asspects of creating a web app so they we both involded
      in the process as a whole.</h3>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">
    <div class="col-md-6">
      <h1>A Quik Thanks</h1>
      <br>
      <h3>We are both eternaly greatful to our familes and friends whithout thier support and suggestions
      this project would be that much harder!</h3>
    </div>
  <div class="col-md-6"><%= image_tag("Av/tanks.jpg", width: '750px')%></div>
</div>


</div>