<p id="notice"><%= notice %></p>

<p>
  <strong>Recipes recipeid:</strong>
  <%= @recipes_has_ingredient.recipes_RecipeID %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipes_has_ingredient.ingredients %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @recipes_has_ingredient.quantity %>
</p>

<%= link_to 'Edit', edit_recipes_has_ingredient_path(@recipes_has_ingredient) %> |
<%= link_to 'Back', recipes_has_ingredients_path %>
